<!-- <div class="card flex justify-content-center">
  <p-sidebar [(visible)]="sidebarVisible">
    <h3>Sidebar</h3>
    <app-info-sidebar
      [value]="value"
    ></app-info-sidebar>
  </p-sidebar>
  <p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right"></p-button>
</div> -->


<app-info-sidebar
[value]="value"
></app-info-sidebar>



























<!-- <app-shai
[dialog]="dialog"
[value]="value"
></app-shai> -->


<!-- <app-info-sidebar
[systemTemplateI]="systemTemplateI"
[systemTemplateII]="systemTemplateII"
[suggestionTemplate]="suggestionTemplate"
></app-info-sidebar> -->

<!-- <ng-template #systemTemplateI>
  <p>第一頁</p>
</ng-template>

<ng-template #systemTemplateII>
  <p>第二頁</p>
</ng-template>

<ng-template #suggestionTemplate>
  <p>下方手風琴</p>
</ng-template> -->
